body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}
img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.word-studio {
  color: var(--NAVY-BLUE, #2e2f42);
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
  height: 4px;
  width: 100%;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.address-list-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover {
  color: #404bbf;
}

.address-list-link:focus {
  color: #404bbf;
}

/* Description */

.description {
  padding-bottom: 120px;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  max-width: 1440px;
  background-size: cover;
  margin: 0 auto;
}

.description-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.description-button {
  color: var(--WHITE, #fff);
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  align-items: flex-start;
  gap: 10px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-button:hover {
  background-color: #404bbf;
}

.description-button:focus {
  background-color: #404bbf;
}

/* Adventages */

.adventages {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.adventages-conteiner {
}

.adventages-list {
  display: flex;
  gap: 24px;
}

.adventages-item {
  width: 264px;
}

.adventages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

.adventage-icon-icon{
  margin-top: 24px;
  margin-bottom: 24px;

}

.adventages-item-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.adventages-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* Team */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.info-people {
  padding: 32px 0;
}

.team-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-img {
}

.team-item-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-item-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-list-footer{
  display: flex;
  gap: 16px;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon-link{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:first-child{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.icon-link-team:hover,
.icon-link-team:focus {
  background-color:  #404bbf; 
}

.icon-icon {
  fill: #f4f4fd;
}

/* Portfolio */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; 
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

 .portfolio-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.portfolio-item:hover{
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio-div{
  position: relative;
  overflow: hidden;

}

.portfolio-item-img{
  
  
}

.portfolio-paragraf{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%; 
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  

}
.portfolio-item:hover.portfolio-paragraf{
  transform: translateY (0);
  }

/* Footer */

footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}

.container-footer {
  display: flex;
  justify-content: start;
  align-items: baseline;

}

.footer-logo{
  margin-right: 120px
}

.footer-link {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.word-footer-studio {
  color: var(--CLOUD, #f4f4fd);
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}

.footer-item-soc {
  color: #FFFFFF;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-weight: 500;

}

.footer-soc {
  
}

.icon-link-footer:hover, .icon-link-footer:focus{
  background-color: #31d0aa;
}